.profile {
    height: 100vh;
    color: white;
    padding-top: 50px;
  }
  
  .profile__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 600px;
  }
  
  .profile__info {
    display: flex;
  }

  .profile__img {
    border-radius: 2px;
  }
  
  .profile__details {
    color: white;
    margin-left: 25px;
    flex: 1;
  }
  
  .profile__body > h1 {
    font-size: 50px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
  }
  
  .profile__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 2px;
  }
  
  .profile__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 50%;
    min-width: 120px;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }

  .profile__signOut:hover,
  .profile__signOut:active {
background-color: rgb(189, 22, 55);
  }
  
  .profile__plans {
    margin-top: 20px;
  }
  
  .profile__plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
  }
  
  .profile__img-container > img {
    height: 100px;
    border-radius: 2px;
  }

  .profile__img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

  }

  /* media queries */
@media screen and (max-width: 540px) {

    .profile {
        padding-top: 100px;
        padding-bottom: 150px;
      }

    .profile__body {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .profile__body > h1 {
        font-size: 20px;
    }

    .profile__details {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

      
      .profile__details > h2 {
        margin-top: 25px;
      }
      
      .profile__signOut {
        padding: 10px 20px;
        font-size: 1rem;
        margin-top: 25%;
        width: 100%;
        max-width: 150px;
        color: #fff;
        background-color: #e50914;
        font-weight: 600;
        border: none;
        border-radius: 2px;
        cursor: pointer;
      }

    .profile__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    .profile__img-container > img {
        height: 50px;
    }

}